.encabezado{
    color: blue;
   }
  
.hobbies{
    padding-top: 20px;
    margin-top: 20px;
    display: flex;
}

.imagen{
    border-radius: 15px 15px 15px 15px;
    display: flex;
    justify-content: initial;
}

.titulo{
    text-align: center;
}